{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 72,
  "singleQuote": true,
  "trailingComma": "none",
  "jsxSingleQuote": false,
  "bracketSpacing": true,
  "bracketSameLine": false,
  "arrowParens": "always",
  "endOfLine": "lf",

  "proseWrap": "always"
}
